.button {
    background: #2b7fff;
    border: 2px solid #2b7fff;
    border-radius: 32px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 32px;
    transition: all 0.2s;
}

.button:hover {
    background: transparent;
    color: #011c44;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 238px;
}
.footer {
    background-color: #011F4A;
    background-image: url('./imeges/background (1).png');
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    padding: 56px 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    font-size: 16px;
}

.footer-container {
    display: flex;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 80px;
    font-size: 16px;}

.footer-nav {
    display: flex;
    font-size: 16px;
        flex: 1 1 300px;
        gap: 188px;}


.footer-logo a {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    color: #2B7FFF;
    text-decoration: none;
}

.footer-menu {
    display: flex;
        flex-direction: column;
        gap: 16px;
}


.footer-menu .link {
    color: white;
    text-decoration: none;
        font-size: 16px;
}

.footer-address {
        display: flex;
            font-style: normal;
            gap: 188px;
        
}
.footer-foto {
display: flex;
flex-direction: column;
gap: 24px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.address-list a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-info {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.privacy-policy {
    color: white;
    text-decoration: underline;
}

.footer-image-container {
    position: absolute;
        bottom: -58px;
        right: -120px;
        max-width: 250px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        pointer-events: none;
}

.footer-image {
    width: 100%;
    max-width: 250px;
    height: auto;
}
.link {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 18px;
    display: inline;
    margin: 10;
    padding: 10;
    box-sizing: border-box;

}

.link:hover {
    color: #2B7FFF;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    display: inline-block;

}

.link-two {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s;

}

.link-two:hover {
    color: #2b7fff;
    font-weight: bold;
    font-weight: bolder
}

.link-two:active {
    color: #ffd700;
}
.address {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    gap: 16px;
}

.address-one {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.address a {
color: white;
    text-decoration: none;
    font-size: 16px;
}

.address:hover {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
}

.address a:hover {
    text-decoration: underline;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    text-decoration: underline;
    color: #FFFFFF;
    display: inline-block;
}

.address-info {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
}

.address-info a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
}
.dani {
        font-size: 13px;
            color: rgba(116, 114, 114, 1);
            font-family: Roboto, sans-serif;
            font-weight: 400;
            line-height: 15.23px;
            letter-spacing: 0px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer-address {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer-foto {
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-info {
        align-items: center;
    }

    .footer-image-container {
        display: none;
    }
}
.arrow-btn {
    background: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-btn img {
    width: 60px;
    height: 60px;
}

.arrow-btn.left {
    left: 30px;
}

.arrow-btn.right {
    right: 30px;
}

.left-arrow {
    left: -50px;
}

.right-arrow {
    right: -50px;
}

.submit-btn {
    background-color: #2b7fff;
    color: white;
    border: none;
    padding: 16px 24px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-top: 16px;
}
.contact-section {
    padding: 96px 20px;
    background-color: #ffffff;
}

.contact-content {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-map {
    width: 605px;
    height: 481px;
    border: none;
    border-radius: 32px;
}
.title-one {
    display: flex;
    gap: 16px;
    text-align: center;
    justify-content: center;
}

.contact-flexbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.primary-container {
    display: flex;
    flex-direction: column;
    padding-left: 106px;
}
.about-us-images {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-us-images-container {
    width: 100%;
}

.about-us-img.before {
    margin-right: auto;
}

.about-us-img {
    display: block;
    object-fit: cover;
    width: 328px;
    height: 328px;
    border-radius: 50%;
}

.about-us-img.after {
    margin-left: auto;
}

.about-us-img {
    display: block;
    object-fit: cover;
    width: 328px;
    height: 328px;
    border-radius: 50%;
}
.info-icon {
    fill: #011c44;
    transition: fill 0.2s;

}

.info-icon:hover {
    fill: #2b7fff;
}

.info-icon:active {
    fill: #ffd700;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

}
 .policy-text {
     font-size: 12px;
     margin-top: 16px;
     color: rgba(255, 255, 255, 0.6);
 }

 .policy-text a {
     color: rgba(43, 127, 255, 1);
     text-decoration: underline;
 }

 .our-proc-wrapper {
     position: relative;
    
     align-items: center;
 }

 .our-proc-list {
     display: flex;
     overflow: hidden;
     scroll-behavior: smooth;
 }
 .section-title {
     color: rgba(1, 28, 68, 1);
     font-family: Play, sans-serif;
     font-size: 64px;
     line-height: 60px;
     text-align: center;
     margin-top: 48px;
     margin-bottom: 48px;

 }

 #Why-we {
     position: relative;
     padding: 60px 0;
    background: linear-gradient(38.2deg,
     rgba(43, 127, 255, 0.2) 39.74%,
      rgba(43, 127, 255, 0) 54.16%, 
      rgba(43, 127, 255, 0) 66.66%);
    background-image: url("../imeges/background\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
 }

 .section-head {
     color: #011c44;
     font-size: 18px;
     margin-bottom: 16px;
     padding-top: 16px;
     margin-top: 0;
 }

 .section {
     margin-top: 48px ;
     padding: 40px 0;
     text-align: center;
 }

 .section-one {
     padding: 88px 0;
     position: relative;
     overflow: hidden;
 }
 .slider-container {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .slider-content {
     display: flex;
     gap: 20px;
     justify-content: center;
 }

 .slider-arrow {
     width: 44px;
     height: 44px;
     background-color: white;
     border: 0.77px solid #002F65;
     color: #002F65;
     font-size: 24px;
     font-weight: bold;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     cursor: pointer;
     transition: background-color 0.3s ease, color 0.3s ease;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
 }

 .slider-arrow:hover {
     background-color: #007bff;
     color: white;
 }
 .stars {
     position: relative;
 }

 .star {
     position: absolute;
     animation: spin-scale 5s infinite ease-in-out;
 }

 .star-1 {
     bottom: 300px;
     right: 333px;
 }

 .star-2 {
     bottom: 670px;
     right: 50px;
 }

 .star-3 {
     bottom: 500px;
     right: 0px;
 }
 .advent {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     font-family: Roboto;
     font-weight: 400px;
     font-size: 18px;
     line-height: 24px;
     letter-spacing: 0%;
     width: 252;
     height: 133;
     top: 24px;
     left: 32px;
     gap: 8px;
 }

 .advent-list {
     display: flex;
     list-style: none;
     padding: 0;
     gap: 20px;
     justify-content: center;
 }

 .advent img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 .advent-container {
     display: flex;
     gap: 20px;
     justify-content: center;
     flex-wrap: wrap
 }

 .advent-one {
     display: flex;
     gap: 56px;
     margin: 0%;
     list-style: none;
     padding: 0;
     margin-right: 56px;
 }

 .advent-two {
     flex-basis: calc((100%) /3);
     width: 316px;
     height: 181px;
     gap: 56px;
     border: 0px solid lightgray;
     border-radius: 32px;
     box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
 }

 .fon {
     background-repeat: no-repeat;
     background-size: cover;
 }
 .beauty span {
     text-transform: capitalize;
     font-family: Roboto;
     font-weight: 600;
 }

 .beauty {
     font-family: Roboto;
     font-weight: 400;
     font-size: 22px;
     line-height: 38px;
     margin-bottom: 40px;
 }

 .beauty-foto {
     width: 335;
     height: 328;
     top: 656px;
     left: 837px;
     display: flex;
 }
 .form-box {
     background: linear-gradient(180deg, #011C44 0%, #011C44 100%);
     border-radius: 32px;
     padding: 48px 24px;
    width: 422px;
        height: 402px;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     top: 0.87px;
     max-height: 482px;
     gap: 16px;
 }

 .form-box h3 {
     margin-bottom: 32px;
     font-size: 22px;
     font-weight: 600;
     text-align: center;
     line-height: 1.4;
 }

 .form-box span {
     color: #2B7FFF;
 }

 .contact-form {
     display: flex;
     flex-direction: column;
     gap: 16px;
     margin-bottom: 16px;
     width: 310px;
     height: 52px;
     top: 52px;
     border-width: 2px;
 }

 .contact-form input {
     padding: 14px 24px;
     border-radius: 32px;
     border: 1px solid #FFFFFF;
     background-color: transparent;
     color: white;
     font-size: 16px;
     outline: none;

 }

 .contact-form input::placeholder {
     color: white;
     opacity: 0.8;
 }

 .contact-form input:focus {
     background-color: rgba(255, 255, 255, 0.08);
 }

 .contact-form button {
     padding: 14px 24px;
     border-radius: 32px;
     border: none;
     background-color: #2B7FFF;
     color: white;
     font-weight: bold;
     font-size: 16px;
     cursor: pointer;
     transition: 0.3s ease;
     width: 281px;
     height: 53px;
     gap: 10px;
     padding-top: 16px;
     padding-right: 32px;
     padding-bottom: 16px;
     padding-left: 32px;
 }

 .contact-form button:hover {
     background-color: #1a5fd1;
     transform: scale(1.03);
     gap: 8px;

 }

 .form-box p {
     font-size: 12px;
     text-align: center;
     opacity: 0.6;
     line-height: 1.4;
    margin-top: 168px;
 }

 .form-box a {
     color: #2B7FFF;
     text-decoration: underline;
 }
 .header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 32px 0;
     background: #ffffff40;
     z-index: 1;
 }
  .header__container {
      display: flex;
      align-items: center;
      gap: 40px;
  }

  .header__menu {
      display: flex;
      flex-grow: 1;
      gap: 56px;
      justify-content: center;
      padding: 12px 0;
  }

  .header__nav {
      display: flex;
      align-items: center;
      flex-grow: 1;
      gap: 40px;
  }

 .header-foto {
     margin-right: 32px;
 }

 .header-item {
     margin-right: 56px;
 }

 .header-social {
     display: flex;
 }

 .header-info {
     display: flex;
     gap: 32px;
     align-items: center;
 }
 .hero-section {
     position: relative;
     padding: 180px 0;
     background-image: url("/imeges/image 1576.jpg");
     background-repeat: no-repeat;
     background-position: right center;
     background-size: cover;
     z-index: 0;
 }
  .hero-section .section-head {
      padding: 16px;
      margin-bottom: 0%;
  }

  .hero__title span {
      display: block;
  }

 .head-two {
     color: #4a4a4a;
     font-size: 12px;
     line-height: 1.5;
     text-align: center;
     margin-bottom: 124px;
     margin-top: 0;
     width: 238px;
     height: 36px;
 }

 .hero-title {
     color: #2b7fff;
     font-family: 'Play', sans-serif;
     font-size: 140px;
     line-height: 0.8;
     margin-top: 0;
     margin-bottom: 40px;
     max-width: 635px;
 }

 .hero-section::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: -68px;
     background-image: url("../imeges/image 1576.jpg");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: cover;
     z-index: -1;
 }
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(14, 14, 14, 0.4);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
 }

 .is-hidden {
     display: none;
 }

 .modal {
     background-color: #011c44;
     padding: 48px;
     border-radius: 32px;
     width: 500px;
     max-width: 90%;
     position: relative;
     color: #fff;
     text-align: center;
 }

 .modal-close-btn {
     position: absolute;
     top: 24px;
     right: 24px;
     font-size: 32px;
     background: none;
     border: none;
     color: #fff;
     cursor: pointer;
 }

 .modal-title {
     font-size: 32px;
     font-weight: 600;
     margin-bottom: 8px;
 }

 .modal-subtitle {
     font-size: 16px;
     margin-bottom: 32px;
 }

 .modal-subtitle span {
     color: #2b7fff;
     font-weight: 500;
 }

 .modal-form input {
     display: block;
     width: 100%;
     padding: 14px 0 14px 6px;
     border-radius: 32px;
     border: 1px solid #fff;
     background-color: transparent;
     color: #fff;
     margin-bottom: 16px;
 }

 .modal-form input::placeholder {
     color: #fff;
 }
 .proceduri-section {
     height: 456px;
     background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%,
             #011C44 101.39%);
     pointer-events: none;
     align-items: center;
 }

 .proceduri1 {
     background: linear-gradient(180.05deg,
             rgba(1, 28, 68, 0) 48.53%,
             rgba(1, 28, 68, 0.725825) 84.61%,
             #011C44 101.39%),
 }

 .proceduri-section ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .proceduri-section img {
     max-width: 100%;
     border-radius: 10px;
     transition: transform 0.3s ease;
 }

 .proceduri-section img:hover {
     transform: scale(1.05);
 }

 .proceduri-section p {
     font-size: 16px;
     font-weight: bold;
     margin-top: 10px;
 }

 .our-proc-list {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
 }

 .our-proc-card {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     height: 456px;
     width: 344px;
     border-radius: 4px 120px 4px 120px;
     transition: trnasform 0.2s;

 }

 .img1 {
     background:
         linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011C44 101.39%),
         url("../imeges/Mask group.png");
 }

 .img2 {
     background:
         linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011C44 101.39%),
         url("../imeges/Mask group (1).png");
 }

 .img3 {
     background:
         linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011C44 101.39%),
         url("../imeges/Mask group (2).png");
 }

 .white-desc {
     display: flex;
     align-self: center;
     max-width: 152px;
     color: white;
     font-size: 22px;
     line-height: 1.2;
     text-align: center;
 }
  .tradishion-container {
      display: flex;
      gap: 32px;
  }

  .tradishion-content {
      flex-basis: calc(60% - 28px);
  }

  .tradishion-content {
      max-width: 709px;
  }

  .tradishion-title {
      margin-bottom: 40px;
      color: rgba(1, 28, 68, 1);
      font-family: Play, sans-serif;
      font-size: 64px;
  }
  .accent {
      color: rgba(43, 127, 255, 1);
  }
   ::after {
       box-sizing: border-box;
   }

   ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
   }

   h1 {
       color: rgba(43, 127, 255, 1);
       padding: 16px;
       margin-bottom: -40px;
       line-height: 5px;
       margin-top: 40px;
   }

   body {
       color: rgba(1, 28, 68, 1);
       font-size: 22px;
       font-weight: 400;
       font-family: 'Roboto', sans-serif;
       margin: 0;
   }

   h2,
   h3,
   h4,
   h5 {
       margin-top: 0%;
   }

   a,
   button,
   input,
   textarea,
   select {
       transition: all 0.2s ease-in-out;
   }